section {
  width: 80%;
  height: 800px;
  background: center/cover url("https://images.unsplash.com/ko/%EC%82%AC%EC%A7%84/V1zR6BnIzgE");
  margin: 0 auto;
}

h1 {
  font-size: 100px;
  color: white;
}